html{
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  color: white;
}

#cchart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

td
{
  text-align: center;
  font-family: sans-serif;
}

#standings {
  width: 500px !Important;
}

#teamPicks {
  width: 500px !Important;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

th {
  font-family: sans-serif;
}

td, th, table{
   border:none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f0ff57ff;
  color: black;
}

table.dataTable.stripe.hover tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover {
  background-color: #f0ff57ff;
  color: black;
}

#teamPicks {
  font-size: 0.75em;
}

#updates {
font-family: sans-serif;
text-align: center;
font-size: 0.5em;
color: rgb(195, 206, 206);
}

table.dataTable tbody tr{
  background-color: black;
  color:whitesmoke;
  }
  
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: rgb(21, 26, 26);
  color:whitesmoke;
  }