html{
  margin-left: 10%;
  margin-right: 10%;
}

td
{
  text-align: center;
  font-family: sans-serif;
}

#standings {
  width: 500px !Important;
}

#teamPicks {
  width: 500px !Important;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

th {
  font-family: sans-serif;
}

td, th, table{
   border:none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #a4f7e9;
}

#teamPicks {
  font-size: 0.75em;
}

#updates {
font-family: sans-serif;
text-align: center;
font-size: 0.5em;
color: rgb(195, 206, 206);
}

#standings tbody tr.selected {
  background-color: aqua;
}