button {
  height: 80px;
  width: 240px;
  font-size: 16px;
}

input {
  height: 80px;
  width: 240px;
  text-align:center;
  font-size: 16px;
}

select {
  height: 80px;
  width: 240px;
  text-align:center;
  font-size: 16px;
}

textarea {
  height: 80px;
  width: 720px;
  font-size: 16px;
  text-align: center;
}
